# Basic Python Arrays

## Lists

In [18]:
x = [1, 2, 3]

In [19]:
x

[1, 2, 3]

In [20]:
x[1] = 45
x

[1, 45, 3]

In [21]:
for item in x:
    print(item)

1
45
3

In [23]:
for item in sorted(x):
    print(item)
x

1
3
45

[1, 45, 3]

## Tuples

In [5]:
y = (1, 2, 3)
y

(1, 2, 3)

In [6]:
y[2]

3

In [7]:
y[1] = 45

TypeError: 'tuple' object does not support item assignment

In [8]:
for item in x:
    print(item)

1
45
3

In [10]:
x = [(30, -85), (31, -86), (32, -87)]
for item in x:
    print(item)

(30, -85)
(31, -86)
(32, -87)

## Sets

In [11]:
x = {1,2,3}

In [12]:
x

{1, 2, 3}

In [13]:
x[2] = 30

TypeError: 'set' object does not support item assignment

In [14]:
x = {1, 2, 3, 3, 4}

In [15]:
x

{1, 2, 3, 4}

In [16]:
for item in x: 
    print(item)

1
2
3
4

Unlike lists and tuples, sets don't keep item order intact.

In [24]:
x = {1, 2, 51, 3, 4}

In [25]:
x

{1, 2, 3, 4, 51}

## Dictionaries

In [29]:
x = {"hello": 23, "world": 45}
x

{'hello': 23, 'world': 45}

In [30]:
for item in x: 
    print(item)

hello
world

In [31]:
for item in x: 
    print(x[item])

23
45